        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Bienvenido a MARSANT.IO</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">MARSANT.IO puede ayudarte a construir mejores sitios web utilizando el framework Bootstrap. ¡Solo descarga un tema y comienza a personalizarlo, sin ataduras!</p>
                        <a class="btn btn-primary btn-xl" href="./views/about.html">Descubre más de nuestros servicios</a>
                    </div>
                </div>
            </div>
        </header>