<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTIVIDAD CCSS PAGINA</title>
</head>
<body>
    <label for=""></label>
    <input type="text" style="border:10% burlywood; width: 20%;">
    <br>
    <label for="hombre" style="color: violet;">HOMBRE</label>
    <input
        type="radio"
        name="sexo"
        id="hombre"
        checked>
    <br>
    <label for="mujer" style="color: aqua;">MUJER</label>
        <input
            type="radio"
            name="mujer"
            style="background-color: aquamarine;"
            >
    <br>
    <input type="checkbox" class="checkbox-personalizado">
    <textarea name="" id=""></textarea>
    <select name="" id=""></select>
</body>
</html>